@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<style>
    .select2-selection__arrow
    {
        height:48px !important;
    }

    .select2-container .select2-selection--single
    {
        height:48px !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered
    {
        line-height:48px !important;
    }

    
</style>

<!-- Main -->

    <!-- Intro -->
    <div class="intro">
        <div class="wrap">
            <div class="textwidget">
                <h1 class="wow fadeInDown">Need a ride?</h1>
                <h2 class="wow fadeInUp">You've come to the right place.</h2>
                <div class="actions">
                    <a href="#services" title="Our services" class="btn large white wow fadeInLeft anchor">Our services</a>
                    <a href="#booking" title="Make a booking" class="btn large color wow fadeInRight anchor">Make a booking</a>
                </div>
            </div>
        </div>
    </div>
    <!-- //Intro -->
    <!-- Search -->
    <div class="advanced-search color" id="booking">
        <div class="wrap">
            <form role="form" id="SearchForm" action="@Url.Action("SearchResult","Home")" method="post">
                <!-- Row -->
                <div class="f-row">
                    <div class="form-group datepicker one-third">
                        <label for="dep-date">Departure date and time</label>
                        <input type="text" id="dep-date" class="DateTime1" name="DateAndLocations[0].DateTime"/>
                        <span class="DateTime1Validation"></span>
                    </div>
                    <div class="form-group one-third">
                        <label>Pick up location</label>
                        <select type="text" class="Location LocationFrom1" name="DateAndLocations[0].LocationFrom">
                        </select>
                        <span class="LocationFrom1Validation"></span>
                    </div>
                    <div class="form-group  one-third">
                        <label>Drop off location</label>
                        <select type="text" class="Location LocationTo1" name="DateAndLocations[0].LocationTo">
                        </select>
                        <span class="LocationTo1Validation"></span>
                    </div>
                </div>
                <!-- //Row -->
                <!-- Row -->
                <div class="f-row">
                    <div class="form-group datepicker one-third">
                        <label for="ret-date">Return date and time</label>
                        <input type="text" id="ret-date" class="DateTime2" name="DateAndLocations[1].DateTime" />
                        <span class="DateTime2Validation"></span>
                    </div>
                    <div class="form-group select one-third">
                        <label>Pick up location</label>
                        <select class="Location LocationFrom2" name="DateAndLocations[1].LocationFrom">
                        </select>
                        <span class="LocationFrom2Validation"></span>
                    </div>
                    <div class="form-group select one-third">
                        <label>Drop off location</label>
                        <select class="Location LocationTo2" name="DateAndLocations[1].LocationTo">
                        </select>
                        <span class="LocationTo2Validation"></span>
                    </div>
                </div>
                <!-- //Row -->
                <!-- Row -->
                <div class="f-row">
                    <div class="form-group spinner">
                        <label for="people">How many people <small>(including children)</small>?</label>
                        <input type="number" name="PassngersCount" id="people" min="1" />
                    </div>
                    <div class="form-group radios">
                        <div>
                            <input type="radio" name="TripType" id="return" value="return" class="TripType"/>
                            <label for="return">Return</label>
                        </div>
                        <div>
                            <input type="radio" name="TripType" id="oneway" value="oneway" checked class="TripType"/>
                            <label for="oneway">One way</label>
                        </div>
                    </div>
                    <div class="form-group right">
                        <button type="submit"  id="FindTransferBtn" class="btn large black">Find a transfer</button>
                    </div>
                </div>
                <!--// Row -->
            </form>
        </div>
    </div>
    <!-- //Search -->
    <!-- Services iconic -->
    <div class="services iconic white">
        <div class="wrap">
            <div class="row">
                <!-- Item -->
                <div class="one-third wow fadeIn">
                    <span class="circle"><span class="icon  icon-themeenergy_savings"></span></span>
                    <h3>Fixed rates</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy  tinc dolore magna.</p>
                </div>
                <!-- //Item -->
                <!-- Item -->
                <div class="one-third wow fadeIn" data-wow-delay=".2s">
                    <span class="circle"><span class="icon icon-themeenergy_lockpad"></span></span>
                    <h3>Reliable transfers</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy  tinc dolore magna.</p>
                </div>
                <!-- //Item -->
                <!-- Item -->
                <div class="one-third wow fadeIn" data-wow-delay=".4s">
                    <span class="circle"><span class="icon icon-themeenergy_open-wallet"></span></span>
                    <h3>No booking fees</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy  tinc dolore magna.</p>
                </div>
                <!-- //Item -->
                <!-- Item -->
                <div class="one-third wow fadeIn">
                    <span class="circle"><span class="icon icon-themeenergy_heart"></span></span>
                    <h3>Free cancellation</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy  tinc dolore magna.</p>
                </div>
                <!-- //Item -->
                <!-- Item -->
                <div class="one-third wow fadeIn" data-wow-delay=".2s">
                    <span class="circle"><span class="icon icon-themeenergy_magic-trick"></span></span>
                    <h3>Booking flexibility</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy  tinc dolore magna.</p>
                </div>
                <!-- //Item -->
                <!-- Item -->
                <div class="one-third wow fadeIn" data-wow-delay=".4s">
                    <span class="circle"><span class="icon icon-themeenergy_call"></span></span>
                    <h3>24h customer service</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy  tinc dolore magna.</p>
                </div>
                <!-- //Item -->
                <!-- Item -->
                <div class="one-third wow fadeIn">
                    <span class="circle"><span class="icon icon-themeenergy_cup"></span></span>
                    <h3>Award winning service</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy  tinc dolore magna.</p>
                </div>
                <!-- //Item -->
                <!-- Item -->
                <div class="one-third wow fadeIn" data-wow-delay=".2s">
                    <span class="circle"><span class="icon icon-themeenergy_attach"></span></span>
                    <h3>Benefits for partners</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy  tinc dolore magna.</p>
                </div>
                <!-- //Item -->
                <!-- Item -->
                <div class="one-third wow fadeIn" data-wow-delay=".4s">
                    <span class="circle"><span class="icon icon-themeenergy_stars"></span></span>
                    <h3>Quality vehicles</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy  tinc dolore magna.</p>
                </div>
                <!-- //Item -->
            </div>
        </div>
    </div>
    <!-- //Services iconic -->
    <!-- Call to action -->
    <div class="black cta">
        <div class="wrap">
            <p class="wow fadeInLeft">Like what you see? Are you ready to stand out? You know what to do.</p>
            <a href="http://themeforest.net/item/transfers-transport-and-car-hire-html-template/9366018?ref=themeenergy" class="btn huge color right wow fadeInRight">Purchase theme</a>
        </div>
    </div>
    <!-- //Call to action -->
    <!-- Services -->
    <div class="services boxed white" id="services">
        <!-- Item -->
        <article class="one-fourth wow fadeIn">
            <figure class="featured-image">
                <img src="images/uploads/img2.jpg" alt="" />
                <div class="overlay">
                    <a href="services.html" class="expand">+</a>
                </div>
            </figure>
            <div class="details">
                <h4><a href="services.html">Private transfers</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                <a class="more" title="Read more" href="services.html">Read more</a>
            </div>
        </article>
        <!-- //Item -->
        <!-- Item -->
        <article class="one-fourth wow fadeIn" data-wow-delay=".2s">
            <figure class="featured-image">
                <img src="images/uploads/img2.jpg" alt="" />
                <div class="overlay">
                    <a href="services.html" class="expand">+</a>
                </div>
            </figure>
            <div class="details">
                <h4><a href="services.html">Bus transfers</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                <a class="more" title="Read more" href="services.html">Read more</a>
            </div>
        </article>
        <!-- //Item -->
        <!-- Item -->
        <article class="one-fourth wow fadeIn" data-wow-delay=".4s">
            <figure class="featured-image">
                <img src="images/uploads/img2.jpg" alt="" />
                <div class="overlay">
                    <a href="services.html" class="expand">+</a>
                </div>
            </figure>
            <div class="details">
                <h4><a href="services.html">Shuttle transfers</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                <a class="more" title="Read more" href="services.html">Read more</a>
            </div>
        </article>
        <!-- //Item -->
        <!-- Item -->
        <article class="one-fourth wow fadeIn" data-wow-delay=".6s">
            <figure class="featured-image">
                <img src="images/uploads/img2.jpg" alt="" />
                <div class="overlay">
                    <a href="services.html" class="expand">+</a>
                </div>
            </figure>
            <div class="details">
                <h4><a href="services.html">Helicopter transfers</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                <a class="more" title="Read more" href="services.html">Read more</a>
            </div>
        </article>
        <!-- //Item -->
    </div>
    <!-- //Services -->
    <!-- Testimonials -->
    <div class="testimonials center black">
        <div class="wrap">
            <h6 class="wow fadeInDown"><i class="fa fa-quote-left"></i>Wow, this theme is outstanding!</h6>
            <p class="wow fadeInUp">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            <p class="meta wow fadeInUp">-John Doe, themeforest</p>
        </div>
    </div>
    <!-- //Testimonials -->

    <div class="partners white center">
        <div class="wrap">
            <h2 class="wow fadeIn">Our partners</h2>
            <div class="one-fifth wow fadeIn"><a href="#"><img src="images/uploads/logo1.jpg" alt="" /></a></div>
            <div class="one-fifth wow fadeIn" data-wow-delay=".2s"><a href="#"><img src="images/uploads/logo2.jpg" alt="" /></a></div>
            <div class="one-fifth wow fadeIn" data-wow-delay=".4s"><a href="#"><img src="images/uploads/logo3.jpg" alt="" /></a></div>
            <div class="one-fifth wow fadeIn" data-wow-delay=".6s"><a href="#"><img src="images/uploads/logo4.jpg" alt="" /></a></div>
            <div class="one-fifth" data-wow-delay=".8s"><a href="#"><img src="images/uploads/logo5.jpg" alt="" /></a></div>
        </div>
    </div>


    <!-- Call to action -->
    <div class="color cta">
        <div class="wrap">
            <p class="wow fadeInLeft">Like what you see? Are you ready to stand out? You know what to do.</p>
            <a href="http://themeforest.net/item/transfers-transport-and-car-hire-html-template/9366018?ref=themeenergy" class="btn huge black right wow fadeInRight">Purchase theme</a>
        </div>
    </div>
    <!-- //Call to action -->

<!-- //Main -->
@section Scripts 
{
    <script>
        $(function () {
            FillDropdowns();

            $("#SearchForm").on("submit", function (e) {
                if (!Validations()) {
                    e.preventDefault();
                    return;
                }
            })
        });

        function FillDropdowns() {


            $(".Location").closest("div").removeClass("selector");
            $(".Location").closest("div").find("span:first-of-type").attr("style","display:none");

            

            $(".Location").select2({
                minimumInputLength: 2,
                //tags: [],
                ajax: {
                    url: `@Url.Action("LocationsList", "Home")`,
                    dataType: 'json',
                    type: "POST",
                    quietMillis: 50,
                    data: function (param) {
                        return {
                            term: param.term
                        };
                    },
                    processResults: function (response) {
                        return {
                            results: response.Locations
                        };
                    },
                    /*cache: true*/
                }
            });


        }

        function Validations() {
            var TripType = $(".TripType:checked").val();
            if (TripType == "oneway") {
                var DateTime1 = $(".DateTime1").val();
                var LocationFrom1 = $(".LocationFrom1").val();
                var LocationTo1 = $(".LocationTo1").val();

                console.log(DateTime1);
                console.log(LocationFrom1);
                console.log(LocationTo1);

                if (DateTime1 == "") {
                    $(".DateTime1").focus();
                    return false;
                }
               

                if (LocationFrom1 == 0 || LocationFrom1 == null) {
                    $(".LocationFrom1Validation").text("Pick up location required");
                    return false;

                }
                else {
                    $(".LocationFrom1Validation").text("");

                }

                if (LocationTo1 == 0 || LocationTo1 == null) {
                    $(".LocationTo1Validation").text("Drop off location required");
                    return false;
                }
                else {
                    $(".LocationTo1Validation").text("");
                }
            }
            else if (TripType == "return") {
                var DateTime1 = $(".DateTime1").val();
                var LocationFrom1 = $(".LocationFrom1").val();
                var LocationTo1 = $(".LocationTo1").val();
                var DateTime2 = $(".DateTime2").val();
                var LocationFrom2 = $(".LocationFrom2").val();
                var LocationTo2 = $(".LocationTo2").val();

                if (DateTime1 == "") {
                    $(".DateTime1").focus();
                    return false;
                }
               

                if (LocationFrom1 == 0 || LocationFrom1 == null) {
                    $(".LocationFrom1Validation").text("Pick up location required");
                    return false;
                }
                else {
                    $(".LocationFrom1Validation").text("");
                }

                if (LocationTo1 == 0 || LocationTo1 == null) {
                    $(".LocationTo1Validation").text("Drop off location required");
                    return false;
                }
                else {
                    $(".LocationTo2Validation").text("");

                }

                if (DateTime2 == "") {
                    $(".DateTime2").focus();
                    return false;
                } 
                    

                if (LocationFrom2 == 0 || LocationFrom2 == null) {
                    $(".LocationFrom2Validation").text("Pick up location required");
                    return false;
                }
                else {
                    $(".LocationFrom2Validation").text("");
                }
                if (LocationTo2 == 0 || LocationTo2 == null) {
                    $(".LocationTo2Validation").text("Drop off location required");
                    return false;
                }
                else {
                    $(".LocationTo1Validation").text("");
                }
            }

            return true;
        }
    </script>
}
