
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<!-- Page info -->
<header class="site-title color">
    <div class="wrap">
        <div class="container">
            <h1>Login</h1>
            <nav role="navigation" class="breadcrumbs">
                <ul>
                    <li><a href="index.html" title="Home">Home</a></li>
                    <li>Login</li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- //Page info -->

<div class="wrap">
    <div class="row">
        <!--- Content -->
        <div class="content one-half modal">
            <!--Login-->
            <div class="box">
                <form id="LoginForm">
                    <div class="f-row">
                        <div class="full-width">
                            <label for="username">Your username</label>
                            <input type="text" id="username" name="UserName" />
                        </div>
                    </div>
                    <div class="f-row">
                        <div class="full-width">
                            <label for="password">Your password</label>
                            <input type="password" id="password" name="Password" />
                        </div>
                    </div>
                    <div class="f-row">
                        <div class="full-width check">
                            <input type="checkbox" id="checkbox" />
                            <label for="checkbox">Remember me next time</label>
                        </div>
                    </div>
                    <div class="f-row">
                        <div class="full-width">
                            <input type="button" value="Login" id="LoginBtn" class="btn color medium full" />
                        </div>
                    </div>
                    <p><a href="#">Forgotten password?</a><br />Dont have an account yet? <a href="register.html">Sign up</a>.</p>
                    <div class="f-row">
                        <p id="MessageLbl" style="text-align: center;color:#CC2262"></p>
                    </div>
                </form>
            </div>
            <!--//Login-->
        </div>
        <!--- //Content -->
    </div>
</div>

@section Scripts{

    <script>
        $(function () {
            $(document).on("click", "#LoginBtn", function () {
                var UserName = $("#username").val();
                var Password = $("#password").val();
                Login(UserName, Password);
            });
        })

        function Login(UserName, Password) {
            $.ajax({
                type: 'POST',
                url: `@Url.Action("Login", "Account")`,
                data: {
                    UserName: UserName,
                    Password: Password,
                },
                //beforeSend: function () {

                //},

            success: function (data) {

                if (data.Message.Type == 0) {
                    location.href = '/Customer/Home/Index';
                }
                else
                {
                        if (data.Message.Title != null && data.Message.Title != "") {
                            var body = data.Message.Description;
                            $("#MessageLbl").text(body);
                        }
                        else {
                            $("#MessageLbl").text("");
                        }
                }

                },
                error: function (ex) {

                    var r = jQuery.parseJSON(response.responseText);
                    alert("Message: " + r.Message);
                    alert("StackTrace: " + r.StackTrace);
                    alert("ExceptionType: " + r.ExceptionType);
                }
            });
    }
    </script>

}
